<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            Der @Autoweird.fm Podcast wird unter der Lizenz <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode">Creative Commons Attribution/Share Alike</a> veröffentlicht.
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
          {% include social.html username=site.github_username %}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
